/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
outline: none;
}
	
.container-fluid{  
	background-color: lightblue;
	padding: 15px;
}
span{
	background-color:black;
}
.nav-img div{
	vertical-align: top;
	display: inline-block;
	margin-left: 7%;
	width: 35%;
	padding-top: 25px;
}
.nav-img div:first-child {
	margin-left:10%;
}
.nav-img h1{
	text-align: left;
	margin-left: 100px;
	line-height: 50px;

}
.carousal-sign{
	margin-top: 100px;
}
.info{
	margin-top: 25px;

}
.info div{
	width: 33%;
	display: inline-block;
	text-align: center;
}
.works{
	background-color: cyan;
}
.works h1{
	text-align: center;
	text-transform: uppercase;
}
.works p{
	text-align: center;
}
.buttons{
	padding-top: 25px;
	text-align: center;
}
.buttons button{
	margin-right: 30px;
	padding: 8px;
}
button:nth-child(1){
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 4px;
}
button:nth-child(2){
	background: transparent;
border: 3px solid blue;
border-radius: 5px;
}
button:nth-child(3){
background: transparent;
border: transparent;
}
button:nth-child(4){
background: transparent;
border: transparent;
}
button:nth-child(5){
background: transparent;
border: transparent;
}
button:nth-child(6){
background: transparent;
border: transparent;
}
.img-wrap{
	text-align: center;
	padding: 30px;
}
.img-wrap img{
	margin:35px 80px;
}



